@font-face {
    font-family: Volja;
    src: url('../Fonts/volja-regular_w.ttf');
}
body {
    margin: 0;
    padding: 5px;
    background-color: #465627;
}
.main-container {
   
}
header {
    background-image: linear-gradient(rgba(70, 86, 39, 0.7), rgba(70, 86, 39, 0.7)), url(../images/emblemngu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 20px;
}
li, p {
    font-size: 16px;
}
h2, h1, h3 {
    margin: 10px auto;
    font-family: Volja;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}
h3 {
    font-size: 16px;
    }
h1 {
    margin: 0 auto 15px;
    font-size: 25px;
}
.losung {
    text-align: justify;
    margin: 0;
}
.with-link {
    margin: 0;
    text-align: center;
    /* transition: font-weight 0.7s ease; */
}
.with-link:hover{
    /* font-weight: bold; */
}

.in-losung{
    text-decoration: none;
    color: rgb(190, 46, 46);
    font-weight: normal;
    transition: font-weight 0.3s ease-out;
}
.in-losung:active, .in-losung:hover {
    text-decoration: none;
    color: rgb(214, 60, 60);
    font-weight: bold;
}
.our-prop{
    padding: 10px 0;
}
.our-prop-text {
    text-align: justify;
}
.with-star::before {
    content:"▄▀▄  ▀▄▀  ▄▀▄  ▀▄▀";
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
.button-link {
    
    margin: 0 auto;
    text-decoration: none;
    color: black;
  
}
.with-button-link {
    width: 135px;
    word-wrap: break-word;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: auto;
    box-shadow:  2px 2px 3px;
}
.with-button-link:hover {
    box-shadow:  -2px -2px 3px;
}
.respon {
    margin: 0;
    text-align: center;
    font-size: 18px;
}
.response {
    margin: 0 0 15px 0;
}
.vacation {
    max-height: 150px;
    overflow: auto;
    margin-bottom: 15px;
}